<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placement Guide:Company Details</title>
<link rel="icon" type="image/x-icon" href="/static/logo.ico" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
.success { background-color: tan; }
#myBtn:hover {
  background-color: tan;
}
h2 {
      font-size: 18px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 500;
      margin-bottom: 30px;
  }

  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: green;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 40px 0px;
  }
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
</style>
</head>
<body>
<div class ="container">
<div class="success">
<header>		
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navigation">
						<div class="navbar-brand">
							<img src="/static/cu_logo.png">
						</div>
						<div class="menu ">
</br></br>
							<ul class="nav nav-tabs navbar-right" role="tablist">
								 <li role="presentation"><a href="/homepage" class="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
								 <li role="presentation"><a><span class="glyphicon glyphicon-user"></span> {% for item in data %}<tr><td>{{item[0]}}</td>(<td>{{item[1]}}</td>)</tr>{% endfor %}</a></li>
								 <li role="presentation"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>&nbsp&nbsp&nbsp&nbsp						
							</ul>
				
						</div>
</br></br></br>
		     </div>
	</nav>
</header>

	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
	 		<h2 class="navbar-text">{% for item in fn %}{{item}}{% endfor %}</h2>  
    	</div>
  		 <ul class="nav navbar-nav">
		      <li class="active"><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}">About</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/question">Questions/Technical Round</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/group-discussion">Group Discussion Round</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/interview-round">Interview Questions Round</a></li>

	     </ul>
	</nav>


		<div id="eligibility" class="container-fluid text-center">
	       		<font face="Cooper Black"><h1><u>ELIGIBILTY</u><h1></font>
	       		<font face="Cooper Black"><h3><u>Following were the company's demand for an ideal candidate: </u><h3></font>
		       	<br>         

                <div class="row ">
    				<div class="col-sm-4">
      					 <span class="glyphicon glyphicon-education" style="color:red"></span>
				      	<font face="Cooper Black"><h4><b>CGPA Required:</b></h4></font>
        		                  <p class="txt-para">{% for item in data2 %}<td>{{item[2]}}</td>{% endfor %} </p>
                	</div>
               
                 	<div class="col-sm-4 ">
               		     <span class="glyphicon glyphicon-education" style="color:red"></span>
					      <font face="Cooper Black"><h4><b>Package offered:</b></h4></font>
		                            <p class="txt-para">{% for item in data2 %}<td>{{item[7]}}</td>{% endfor %} </p>
        	         </div>
              
					 <div class="col-sm-4 ">
        	        	      <span class="glyphicon glyphicon-education" style="color:red"></span>
				      <font face="Cooper Black"><h4><b>Subjects to be focused:</b></h4></font>
                        	    <p class="txt-para">{% for item in data2 %}<td>{{item[8]}}</td>{% endfor %} </p>
	        	     </div>
              
                    <div class="col-sm-4">
        	                  <span class="glyphicon glyphicon-education logo-large" style="color:red"></span>
				      <font face="Cooper Black"><h4><b>10 PERCENTAGE:</b></h4></font>
                        	    <p class="txt-para">{% for item in data2 %}<td> {{item[3]}} </td>{% endfor %} </p>
                    </div>
					
					<div class="col-sm-4">
	                 <span class="glyphicon glyphicon-education logo-large" style="color:red"></span>
				      <font face="Cooper Black"><h4><b>12 PERCENTAGE:</b></h4></font>
                	            <p class="txt-para">{% for item in data2 %}<td> {{item[4]}} </td>{% endfor %} </p>
                     </div>
					 <div class="col-sm-4">
        	                  <span class="glyphicon glyphicon-education logo-large" style="color:red"></span>
				      <font face="Cooper Black"><h4><b>GROUP DISCUSSIONS:</b></h4></font>
                        	    <p class="txt-para">{% for item in data2 %}<td> {{item[6]}} </td>{% endfor %} </p>
                    </div>
					<div class="col-sm-4">
        	                  <span class="glyphicon glyphicon-education logo-large" style="color:red"></span>
				      <font face="Cooper Black"><h4><b>BACKLOGS:</b></h4></font>
                        	    <p class="txt-para">{% for item in data2 %}<td> {{item[5]}} </td>{% endfor %} </p>
                    </div>
					<div class="col-sm-4">
        	                  <span class="glyphicon glyphicon-education logo-large" style="color:red"></span>
				      <font face="Cooper Black"><h4><b>PROFILE DEMANDED:</b></h4></font>
                        	    <p class="txt-para">{% for item in data2 %}<td> {{item[9]}} </td>{% endfor %} </p>
                    </div>
             	</div>
         </div>

 </div>
 
<footer>		
		<nav class="navbar navbar-inverse" role="navigation">
				<div class="navigation">
					
					
								<p><font color="white" face="Cooper Black" size="4"><b>For any Queries Contact: bjsbikram10@gmail.com</br>
								Credits: Bikramjeet Singh, Chitra Sood, Bhumika Sharma, Damanpreet Kaur</br>
								Under Guidence Of: Mr. Gaurav Goel&nbsp&nbsp&nbsp</b></font></p>						
							
				

		
			     </div>
		</nav>
</footer> 

</div> 
	


<button onclick="topFunction()" id="myBtn" title="Go to top">Back To Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>