<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placement Guide:Company Details</title>
<link rel="icon" type="image/x-icon" href="/static/logo.ico" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
.success { background-color: tan; }
#myBtn:hover {
  background-color: tan;
}
h2 {
      font-size: 18px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 500;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: green;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 40px 0px;
  }
.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
</style>
</head>
<body>
<div class="container">
<div class="success">
<header>		
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navigation">
						<div class="navbar-brand">
							<img src="/static/cu_logo.png">
						</div>
						
</br></br>
							<ul class="nav nav-tabs navbar-right" role="tablist">
								 <li role="presentation"><a href="/homepage" class="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
								 <li role="presentation"><a><span class="glyphicon glyphicon-user"></span> {% for item in data %}<tr><td>{{item[0]}}</td>(<td>{{item[1]}}</td>)</tr>{% endfor %}</a></li>
								 <li role="presentation"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>&nbsp&nbsp&nbsp&nbsp
							</ul>
				
						
</br></br></br>
		     </div>
	</nav>
</header>
<nav class="navbar navbar-inverse">
		<div class="navbar-header">
	 		<h2 class="navbar-text">{% for item in fn %}{{item}}{% endfor %}</h2>  
    		</div>
  		 <ul class="nav navbar-nav">
			<li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}">About</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/question">Questions/Technical Round</a></li>
		      <li class="active"><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/group-discussion">Group Discussion Round</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/interview-round">Interview Round</a></li>
	        </ul>
</nav>
<hr>
<div class="container">
<h2><b>Earlier Topics:</b></h2>

	{% for item in data3 %}
		<div class="list-group">
			<li>{{item[0]}}</li>	
		</div>	   	       
    </br>
	
	{% endfor %}
</div>
</div>

<footer>		
		<nav class="navbar navbar-inverse" role="navigation">
				<div class="navigation">
					
					
								<p><font color="white" face="Cooper Black" size="4"><b>For any Queries Contact: bjsbikram10@gmail.com</br>
								Credits: Bikramjeet Singh, Chitra Sood, Bhumika Sharma, Damanpreet Kaur</br>
								Under Guidence Of: Mr. Gaurav Goel&nbsp&nbsp&nbsp</b></font></p>						
							
				

		
			     </div>
		</nav>
</footer> 

</div>

</body>
</html>