<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placement Guide:Homepage</title>
  <link rel="icon" type="image/x-icon" href="static/logo.ico" />  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<style>

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #555;
}

.well {
    background-color: Wheat;
    height:"80%";
}
</style>
</head>
<body>
<div class="container">
<header>		
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navigation">
						<div class="navbar-brand">
							<img src="/static/cu_logo.png">
						</div>
								</br></br>
							<ul class="nav nav-tabs navbar-right" >
								<li ><a href="/homepage" class="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
								<li ><a><span class="glyphicon glyphicon-user"></span> {% for item in data %}<tr><td>{{item[0]}}</td>(<td>{{item[1]}}</td>)</tr>{% endfor %}</a></li>
								<li ><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>&nbsp&nbsp&nbsp&nbsp						
							</ul>
				
			</br></br></br>
		  </div>
            </nav>

</header> 




	<h2><b><u><center><font face="Cooper Black">Recently Visited Companies In The Campus</font></u></center></b></h2></br>
<center>
		<div style="height:480px;width:1130px;border:18px solid #ccc;overflow: auto;">
              <center>     
		  <div style="height:300px;width:900px;border:18px solid #;overflow:no;">
		       	 </br>

				{% for i in range(0,data3,) %}
					<div class="row">			
					<div class="list-group">
					  <b>  <a href="/company_data/{% for item in data2[i][0] %}{{item}}{% endfor %}" class="list-group-item list-group-item-success">{% for item in data2[i][0] %}<td>{{item}}</td>{% endfor %}<span class="badge">{% for item in data2[i][1] %}<td>{{item}}</td>{% endfor %}</span></a></b>	
</div>					
</div>   	       
        	    {% endfor %}
   </div>	  
 </center>	
	
		</div>


</center>


	<hr>


	<div class="container">
		<h3><b><u><font face="Cooper Black">SHARE YOUR EXPERIENCE WITH US:</font></u></b></h3>
			<div class="media">
			    <div class="media-left">
				      <img src='static/img_avatar1.png' class="media-object" style="width:60px">
			    </div>
		    <div class="media-body">
		    	<h4 class="media-heading">
				{% for item in data %}
					<tr>
			    		<td>{{item[1]}}</td>
					</tr>
				{% endfor %}
			</h4>
			<div class="container">
				<form action="/comments" , method="post">
			    		<form class="form-horizontal">
      						<div class="col-sm-10">
			        			<textarea class="form-control" type="text" id="data" placeholder="Type comment" name="data" rows="5"></textarea>
						</div>
			</div>
		    </div>
		    </br> 
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		    <button type="submit" class="btn btn-info">Post</button>
			      </form>
	</div>
	<hr>
	<h2><u><font face="Cooper Black">Earlier Posts:</font></u></h2>

		{% for item in data1 | reverse %}
			<tr>
			<div class="media">
    				<div class="media-left">
		      			<img src='static/img_avatar1.png' class="media-object" style="width:60px">
    				</div>
				    <div class="media-body">
	    				<h4 class="media-heading">
					<td><b>{{item[2]}}</td> at <td>{{item[4]}}</b></td></br>
		    			<td>{{item[3]}}</td>
					</tr>
				</div>
		   </div>

			</br>

		{% endfor %}


<footer>		
		<nav class="navbar navbar-inverse" role="navigation">
				<div class="navigation">
					
					
								<p><font color="white" face="Cooper Black" size="4"><b>For any Queries Contact: bjsbikram10@gmail.com</br>
								Credits: Bikramjeet Singh, Chitra Sood, Bhumika Sharma, Damanpreet Kaur</br>
								Under Guidence Of: Mr. Gaurav Goel&nbsp&nbsp&nbsp</b></font></p>						
							
				

		
			     </div>
		</nav>
</footer> 


</div>



<button onclick="topFunction()" id="myBtn" title="Go to top">Back To Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
function ConfirmDelete(elem) {
    localStorage.setItem('deleteId', $(elem).attr('data-id'));
    $('#deleteModal').modal();
}

</script>
</body>
</html>









