<!DOCTYPE html>
<html lang="en">
<head>
  <title>Placement Guide:Company Details</title>
<link rel="icon" type="image/x-icon" href="/static/logo.ico" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>


.success { background-color: tan; }

h2 {
      font-size: 18px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 500;
      margin-bottom: 30px;
  }
    

</style>
</head>
<body>

<div class="container">
<div class="success"> 
	<header>		
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navigation">
						<div class="navbar-brand">
							<img src="/static/cu_logo.png">
						</div>

							</br></br>
							<ul class="nav nav-tabs navbar-right" role="tablist">
								<li role="presentation"><a href="/homepage" class="active"><span class="glyphicon glyphicon-home"></span> Home</a></li>
								<li role="presentation"><a><span class="glyphicon glyphicon-user"></span> {% for item in data %}{{item[0]}}({{item[1]}}){% endfor %}</a></li>
								 <li role="presentation"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>&nbsp&nbsp&nbsp&nbsp					
							</ul>
				
						
			</br></br></br>
		     </div>
		</nav>
	</header>
	
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
	 		<h2 class="navbar-text">{% for item in fn %}{{item}}{% endfor %}</h2>  
    	</div>
  		<ul class="nav navbar-nav">
			<li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}">About</a></li>
		      <li class="active"><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/question">Questions/Technical Round</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/group-discussion">Group Discussion Round</a></li>
		      <li><a href="/company_data/{% for item in fn %}{{item}}{% endfor %}/interview-round">Interview Round</a></li>
		</ul>
	</nav>
	

		
			<br>
		{% for item in data5 %}
			<div class="gallery_product col-lg-2 col-md-2 col-sm-2 col-xs-4 filter hdpe">
				<a target="_blank" href="http:/static/{{item[2]}}">
					<img src="/static/{{item[2]}}" width="200" height="150" class="img-responsive" target="_self">
				</a>
				<p>Uploaded By:<td>{{item[3]}}</td></p> 
		    </div>
		{% endfor %}
	
</div>


</div>
</body>
</html>